
<!-- handlebars template that is used by the main.handlebars to display all of the posts on the homepage-->
<ul class="post-list">
    {{#each posts as |post|}}
    <li>
        {{> post-info post}}
    </li>
    {{/each}}
</ul>